# Server/Environment Info
BASE_URL=http://localhost:8000

# Auth details (if needed in automation)
TEST_EMAIL=test@gmail.com
TEST_PASSWORD=12345
# General Configuration
DEFAULT_TIMEOUT=5000
MAX_RETRIES=3

# Test Data
VALID_AUTHOR=J.K. Rowling
INVALID_BOOK_ID=999999
